    .borda-texto{
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px; 
    display: inline-block;
  }

        body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: aliceblue;
          }
        input[type="submit"] {
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        h1 { text-align: center; margin-top: 0; }
        .input-group { margin-bottom: 15px; }

        label { display: block; margin-bottom: 5px; font-weight: bold; }
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
            .login-form {
            border: 2px solid #333;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 300px;
            }